.container {
    width: 1024px;
    margin: 0 auto;
}

.card a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    font-weight: 700;
}

.card__image img {
    width: 100%;
}

.card__image {
    position: relative;
}

.icon {
    background: #00d054;
    width: 50px;
    height: 50px;
    
}

#icon-one {

    position: absolute;
    left: 10px;
    top: 270px;
}

#icon-two {

    position: absolute;
    left: 70px;
    top: 270px;
}

#icon-three {

    position: absolute;
    left: 130px;
    top: 270px;
    width: 150px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}

.icon i {
    color: white;
    font-size: 50px;
  
}

.card {
    width: 50%;
}