body {
    background: lightgoldenrodyellow;
  }

h1 {
    color:firebrick;
    font-size: 50px;
  }

h2 {
    color:maroon;
    font-size: 30px;
  }

form {
    color:maroon;
    font-size: 17px;
}

ul{
    color:maroon;
    font-size: 15px;
}

#submit1 {
    background:sandybrown;
}
