body {
  background-color: rgb(176, 212, 243);
}

.sekcija {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.box-wrapper {
  margin-top: 50px;
}

.box {
  background: white;
  float: left;
  border: 2px dotted black;
  padding: 20px;
  width: 30.33%;
  box-sizing: border-box;
  margin-bottom: 3%;
  margin-right: 3%;
}

img {
  width: 40px;
}
