body {
    background: rgb(240, 238, 238);
}

.container {
    width:1140px;
    margin: 0 auto;
    max-width: 100%;
}

.card {
    background:white;
    height: 100%;
    box-sizing: border-box;
}

.card img {
    width:100%;
}

.row {
    display:flex;
    align-items:stretch;
    flex-wrap: wrap;
}

.col {
    width:30%;
    margin: 0 10px;
    flex-grow: 1;
    box-sizing: border-box;
    margin-bottom: 15px;

}