@media (max-width: 768px) {
  body {
    margin-left: -14%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 40px;
  font-weight: 900;
  line-height: 1;
  margin-top: 0;
}

p {
  color: grey;
}

img {
  width: 90%;
}

.contact {
  padding: 9% 24%;
}

.container {
  max-width: 1180;
  margin: 0 auto;
}

.info-wrapper {
  float: left;
  max-width: 480px;
}

.form-wrapper {
  float: left;
  max-width: 480px;
}

.form-element {
  background: #f3f3f3;
  width: 300px;
  border: none;
  margin: 6px;
  padding: 13px 10px;
}

#message {
  height: 160px;
  font-family: "Roboto", sans-serif;
}

#submit {
  background: black;
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  margin: 5px 5px;
}
