body {
  font-family: "Poppins", sans-serif;
  display: block;
  background: #fff;
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 99;
}

.main-menu {
  padding-bottom: 20px;
  padding-top: 20px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  max-width: 1140px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-menu {
  display: flex;
  list-style: none;
}

ul a {
  text-decoration: none;
  color: black;
}

.nav-menu li {
  padding: 10px;
}

.nav-menu li a:hover {
  color: #8490ff;
}

.nav-menu .active {
  color: #8490ff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-below {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  list-style: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content-below {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  list-style: none;
}

.dropdown-below:hover .dropdown-content-below {
  display: block;
}

.banner-intro {
  position: relative;
  box-sizing: border-box;
  width: 50%;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.banner-area {
  background: #f9f9ff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.image {
  width: 400px;
  padding-top: 50px;
  align-self: center;
}

.banner-intro h6 {
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 400;
}

.banner-intro h1 {
  margin: 20px 0;
  font-size: 60px;
  color: black;
  line-height: 1.2em;
  font-weight: 600;
}

.banner-intro p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.button-intro {
  line-height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  color: white;
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  display: inline-block;
  font-weight: 500;
  position: relative;
}

.button-intro:hover {
  box-shadow: 5px 10px 5px 0px #bec3eb;
  filter: brightness(100%);
}

.banner-intro a {
  text-decoration: none;
}

.about-area {
  background: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-gap {
  padding: 120px 0;
}

.menu-content {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.title {
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
}

.title h1 {
  margin-bottom: 10px;
  font-size: 36px;
  color: #222222;
  line-height: 1, 2em;
  margin-top: 0;
  font-weight: 600;
}

.title p {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-top: 15px;
  align-self: center;
  display: block;
}

.col-el {
  position: relative;
  width: 33%;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
}

.service {
  text-align: center;
  margin-top: 60px;
  width: 100%;
}

.service a {
  text-decoration: none;
  color: #222;
}

.col-el:hover .service a {
  color: #8490ff;
}

.service a i {
  font-size: 35px;
}

.service h4 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 600;
}

.service p {
  max-width: 318px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* BLOG-HOME */

.blog-home-area {
  background: url(https://preview.colorlib.com/theme/personal/img/blog/xblog-home-banner.jpg.pagespeed.ic.aiMsZVJs5x.jpg)
    bottom;
  background-size: cover;
  padding: 130px 0;
  position: relative;
}

.blog-home-area .overlay {
  background: rgba(0, 0, 0, 0.5);
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.about-content {
  margin-top: 70px;
  padding: 90px 0;
  text-align: center;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
}

.about-content h1 {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2em;
  margin-bottom: 0;
  margin-top: 0;
  color: #ffff;
}

.about-content p {
  margin: 20px 0;
  color: #ffff;
}

.about-content .button-blog {
  border-radius: 0;
  background: #ffff;
  color: #222;
  font-weight: 600;
  border: 1px solid transparent;
}

.about-content a {
  font-size: 14px;
  text-decoration: none;
}

.button-blog {
  line-height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.about-content a:hover {
  background: #222;
  color: #ffff;
  border-color: #ffff;
}

.top-category-widget-area {
  background: #ffff;
  padding-bottom: 90px;
  padding-top: 90px;
  position: relative;
}

.single-widget {
  position: relative;
  text-align: center;
  box-sizing: border-box;
}

.widget-content {
  position: relative;
  opacity: 1;
}

.widget-content .overlay {
  background: rgba(0, 0, 0, 0.85);
  margin: 7%;
}

.widget-content:hover .overlay {
  background: #8490ff;
  filter: opacity(90%);
  transition: all .3s ease 0s;
}

.overlay a {
  text-decoration: none;
  background: transparent;

}

.thumb img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  height: auto;
  border-style: none;
}

.widget-details {
  position: absolute;
  top: 32%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: #ffff;
  bottom: 0;
}

.widget-details h4 {
  color: #fff;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  line-height: 1.2em;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
}

.widget-details span {
  display: inline-block;
  background: #fff;
  width: 60%;
  height: 1%;
}

.widget-details p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.post-content-area {
    background: #fff;
    display: block;
    box-sizing: border-box;

    
}

.post-content-area .single-post {
  margin-bottom: 50px;
}

.post-list {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  
}

.left-col {
  text-align: right;
  margin-top: 35px;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 25%;
  box-sizing: border-box;
}

.tags {
  margin-bottom: 30px;

}

.left-col ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.left-col ul li {
  display: inline-block;
  font-size: 14px;
}

.left-col ul li a {
  color:#222;
  text-decoration: none;
}

.left-col ul li a:hover {
  color:#8490ff;
  
}

.user-name .date .view .comments {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 0;
    margin-bottom: 1rem;
    

    
}


.user-name p a {
  color: #777;
  margin-right: 10px;
  text-decoration: none;
  
}

.user-name .date .view .comments  p span {
  font-weight: 900;
  color: #222;
  
  
}

.post-col {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 75%;
    box-sizing: border-box;
}

.post-img img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}


